# My Recursive Function Exercise

#### 1.write a function printit(m, n) that will print  m,m+1,...,n,n-1,...,m

printit(3,6) 

#output 3456543

In [22]:
def printit(m, n):
    print(m,end='')
    if m==n:
        #return printit(m-1,n)
        return m-1
    elif m<n:
        print(printit(m+1,n),end='')
        return m-1

In [24]:
printit(0,5)

01234543210

-1

#### 2.write function count_vowel(word) that will count 'aeiou' in word with upper and lower case

count_vowel('hellO')

#output 2

In [29]:
def count_vowel(word):
    if len(word) == 1:
        if word[0].lower() in 'aeiou':
            return 1
        else:
            return 0
    else:
        if word[0].lower() in 'aeiou':
            return count_vowel(word[1:]) + 1
        else:
            return count_vowel(word[1:])

In [34]:
count_vowel('Hello WOrld')

3

#### 3.write function tri(n) that will print triangle base n

tri(2)
x
xx

In [60]:
def tri(n):
    if n==1:
        print('x')
        return 1
    else:
        ok = tri(n-1) + 1
        print('x'*ok)
        return ok

In [61]:
tri(3)

x
xx
xxx

3

#### 4.write function count(word,ch,result) will count character in word that = ch

count("aaa", "a", 0)
3

In [90]:
def count(word, ch, result):
    if len(word) == 1:
        if word[0] == ch:
            return result + 1
        else:
            return result
    else:
        if word[0] == ch:
            return count(word[1:],ch,result+1)
        else:
            return count(word[1:],ch,result)

In [94]:
count("abcdef", "b", 0)

1

In [95]:
count("abababaab", "c", 0)

0

#### 5.write function divnums(n, d) that return number from 0 to n that can divide by d

divnums(100, 25)
'25 50 75 100 '

In [109]:
def divnums(n, d):
    if n==d:
        return str(d) + ' '
    else:
        if n%d==0:
            return divnums(n-1, d)  + str(n) + ' '
        else:
            return divnums(n-1, d)

In [110]:
divnums(10,3)

'3 6 9 '

#### 6.write function that return the reverse string

reverse_string('hello')
'olleh'

In [3]:
def reverse_string(s):
    if len(s) == 1:
        return s
    else:
        return reverse_string(s[1:]) + s[0]

In [4]:
reverse_string('hello')

'olleh'

#### 7.write function is_palindrome(word) that will check if word is palindrome  return True    , else: False

is_palindrome('redder')
True

In [12]:
def is_palindrome(word):
    if len(word) == 0 or len(word) == 1:
        return True
    else:
        return word[0] == word[-1] and is_palindrome(word[1:-1])

In [13]:
is_palindrome('ohl')

False

#### 8. write function count_even(lst) that will count all even number and return count

count_even([8])
1

In [18]:
def count_even(lst):
    if len(lst)==0:
        return 0
    if len(lst) == 1:
        if lst[0] % 2 == 0:
            return 1
        else:
            return 0
    else:
        if lst[0] % 2 == 0:
            return count_even(lst[1:]) + 1
        else:
            return count_even(lst[1:])

In [19]:
count_even([1,2,3,5,2,2,10])

4

#### 9.write function in_list(lst, x) that will check if x in lst return True else return False

in_list([1, 2, 3], 2)
True

In [20]:
def in_list(lst, x):
    if len(lst)==1 and lst[0]!=x:
        return False
    if lst[0] == x:
        return True
    else:
        return in_list(lst[1:],x)

In [21]:
in_list([1, 2, 3], 8)

False

In [22]:
in_list(['a', 'b', 'c'], 'a')

True

#### 10.write function that will find root 3 by newton method

In [ ]:
def newton_cuberoot(x,y):
    if abs(x**3-y)<=10**-6:
        return x
    roo = ((y/(x**2))+(2*x))/3
    if abs(roo**3-y)<=10**-6:
        return roo
    else:
        return newton_cuberoot(roo,y)

#### 11.write function sumsquare(n) that will return sum of 1 + 2^2 ... + n^n

In [1]:
def sum_square(n):
    if n==1:
        return 1
    else:
        return n**2 + sum_square(n-1)

In [4]:
sum_square(1)

1

#### 13.write function differentiate(f) that will return diff value at f(x)

In [5]:
def differentiate(k_f):
    return lambda x: (k_f(x+0.00001) - k_f(x))/0.00001

In [11]:
g = differentiate(lambda x: x**2)

In [14]:
g(2)

4.000010000027032

#### 14.write function power(n, k) that will return n**k

In [1]:
def power(n,k):
    if k==0:
        return 1
    if k==1:
        return n
    else:
        return power(n,k-1) * n

In [5]:
power(6,2)

36

#### 15.write function flatten_list(lst)

In [2]:
def flatten_list(list_of_lists, flat_list=[]):
        for item in list_of_lists:
            if type(item) == list:
                flatten_list(item)
            else:
                flat_list.append(item)
    
        return flat_list

In [3]:
flatten_list([1,3,5,7])

[1, 3, 5, 7]

In [4]:
flatten_list([1, 2, [[2], [3, 4], 5], 4, [3], [[4]]])

[1, 3, 5, 7, 1, 2, 2, 3, 4, 5, 4, 3, 4]